.venv/
__pycache__/
.env
mlruns/
processor/preprocessing_pipeline.joblib
logs/weather_api.log
*.tfvars
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/
*.json
*.lock
*.backup